In [51]:
import pandas as pd
import numpy as np

### 方法一

In [135]:
data = {'weekday': ['Sun', 'Sun', 'Mon', 'Mon'],
        'city': ['Austin', 'Dallas', 'Austin', 'Dallas'],
        'visitor': [139, 237, 326, 456]}

In [3]:
visitors_1 = pd.DataFrame(data)
print(visitors_1)

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

In [10]:
#Exercise 

data = {'name': ['Alan','Alice','Bob'],
        'salary':[2000,5000,9000]}
data_1 = pd.DataFrame(data)
print(data_1)

    name  salary
0   Alan    2000
1  Alice    5000
2    Bob    9000

### 方法二

In [12]:
cities = ['Austin', 'Dallas', 'Austin', 'Dallas']
weekdays = ['Sun', 'Sun', 'Mon', 'Mon']
visitors = [139, 237, 326, 456]

list_labels = ['city', 'weekday', 'visitor']
list_cols = [cities, weekdays, visitors]

zipped = list(zip(list_labels, list_cols))

In [14]:
visitors_2 = pd.DataFrame(dict(zipped))
print(visitors_2)

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

In [140]:
#Exercise
#zip(label,column) 一個 label對一個column把它組合起來
#dict() 將資料存成dictionary的形式

names = ['Alan','Alice','Bob','Bob','Alan','Alice','Bob','Bob']
salarys =[2000,5000,9000,1000,200,100,100,100]
list_labels = ['Name','Salary']
list_cols = [names,salarys]
zipped = list(zip(list_labels,list_cols))
data = pd.DataFrame(dict(zipped))
print(data)

    Name  Salary
0   Alan    2000
1  Alice    5000
2    Bob    9000
3    Bob    1000
4   Alan     200
5  Alice     100
6    Bob     100
7    Bob     100

In [141]:
#比較一下沒有存成 dictionary就轉成dataframe的差異
print(pd.DataFrame(zipped))

        0                                               1
0    Name  [Alan, Alice, Bob, Bob, Alan, Alice, Bob, Bob]
1  Salary    [2000, 5000, 9000, 1000, 200, 100, 100, 100]

## 一個簡單例子
假設你想知道如果利用 pandas 計算上述資料中，每個 weekday 的平均 visitor 數量，

通過 google 你找到了 https://stackoverflow.com/questions/30482071/how-to-calculate-mean-values-grouped-on-another-column-in-pandas

想要測試的時候就可以用 visitors_1 這個只有 4 筆資料的資料集來測試程式碼

In [47]:
visitors_1.groupby(by="weekday")['visitor'].mean()

weekday
Mon    391
Sun    188
Name: visitor, dtype: int64

In [48]:
# Exercise
# 根據不同類別作敘述統計
data.groupby(by="Name")['Salary'].mean()
data.groupby(by="Name")['Salary'].std()

Name
Alan     1272.792206
Alice    3464.823228
Bob      4320.879540
Name: Salary, dtype: float64

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [297]:
a = {'countries':np.random.randint(1,100,50),
         'peoples':np.random.randint(1,9999,50)}

data = pd.DataFrame(a)

In [308]:
data['countries'][data['peoples'].argmax()]

35